*{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
/*Navigation bar: logo and image*/
#logo {
    margin: 10px 20px;
}

/*Navigation bar: logo and image*/
#logo img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

/* Navigation bar */
#navbar{
    position: relative;
    align-items: center;
    display: flex;
    top:0px;
}

#navbar::before {
    content: "";
    background-color: rgb(51, 47, 47);
    position: absolute;
    height: 72%;
    width: 100%;
    z-index: -1;
    opacity: .95;
   
}

/*Navigation list items*/
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a {
    color:antiquewhite;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition-property: all;
    transition-duration: .5s;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}
/* Home section */
#home{
    display:flex;
    flex-direction: column;
    height: 375px;
    padding:2px 200px;
    align-items: center;
    justify-content: center;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:antiquewhite;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Bree Serif', serif;
}
#home::before{
    content: "";
    background:url('bg3.jpg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: .95;
}
/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding:0px;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2.2rem;
    padding:8px;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
.btn{
    padding :10px 10px;
    background-color: darkgreen;
    margin:20px;
    color: white;
    border:2px solid white;
    transition-property: all;
    transition-duration: .5s;
    font-size: 1rem;
    cursor: pointer;
}
#servbtn{
   
    padding: 6px;
    cursor: pointer;
}
.btn:hover{
   border:2px solid black;
    border-radius: 20px;
}
.center{
    text-align: center;
}
/* Services Section */
#services{
    display: flex;
    margin: 10px;
}
#services .box{
    border:2px solid red;
    padding :20px;
    margin:3px 7px;
    height:70%;
    border-radius: 20px;
    background-color: rgb(230, 215, 215);
}
#services .box img{
    height:160px;
    margin:auto;
    display: block;
    border: 2px solid white;
    border-radius: 50px;
}
#services .box p{
    text-align: center;
    font-family: 'Bree Serif', serif;;
}
/* Client section */
#client-section{
    height:344px;
    position: relative;
}
#cle{
    padding: 20px;
}
#client-section::before{
    content: "";
    background:url('bg4.jpg') no-repeat center center/cover;
    position: absolute;
    display: flex;
    height: 345px;
    width: 100%;
    z-index: -1;
    opacity: .3;
    justify-content: center;
    align-items: center;
}
#clients{
    display:flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding:50px;
}
#clients img{
    height: 145px;
    padding-top: 28px;
}
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position:absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('bg6.jpg') no-repeat center center/cover;
}
footer{
    background: black;
color:white;
padding : 9px 20px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;;

}
#contact-box form{
    width:40%;

}
#contact-box label{
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;;

    
}